.slider {

    &__container {
    }

    &__swiper {
        overflow: hidden;
    }

    &__wrapper {
    }

    &__card {
    }
}
.swiper-wrapper {
}
.card-slider {

    &__body {
    }

    &__img {
        margin-bottom: rem(20);
    }

    &__category {
    }

    &__head {
        margin-top: rem(10);
    }

    &__title {
    }
}
.swiper-slide {
}
.card-row {
}
.card-img {
}
.category {
}
.card-head {
}
.card-title {
}
